* {
    background-color: rgb(228, 218, 184);
    font-family: Verdana, Geneva, "sans-serif";
    font-size: 14px;
}
h1 {
    font-size: 30px;
    text-align: center;
}
h2 {
    font-size: 20px;
}
.topimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}